* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .main-content {
    display: grid;
    grid-template-columns: 300px 700px;
    min-height: 1000px;
    width: 90%;
    margin: 20px auto;
  }
  
  .left-section {
    grid-column: span 1;
    background-color: rgba(53, 41, 65, 0.938);
  }
  
  .left-content {
    padding: 1rem;
  }
  .profile-image {
    margin: auto;
    display: block;
    text-align: center;
    border: 5px solid white;
    border-radius: 30%;
    width: 60%;
  }
  .fa-phone-alt {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .name {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.8rem;
    letter-spacing: 0.02px;
    color: beige;
  }
  .designation {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    color: aqua;
  }
  .description {
    text-align: center;
    font-size: 0.75rem;
    padding: 1rem;
    color: aliceblue;
  }
  .skills {
    font-size: 0.75rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-transform: uppercase;
    color: aliceblue;
  }
  .skill-name {
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
    color: aliceblue;
  }
  .progress-bar {
    border: 1px solid white;
    height: 4px;
    background-color: rgb(208, 222, 226);
  }
  .social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(182, 173, 233);
    margin-top: 20px;
    margin-left: 15px;
  }
  .personal-details {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    color: rgb(175, 156, 228);
    line-height: 2px;
  }
  .right-section {
    grid-column: span 1 / span 2;
    background-color: rgb(250, 252, 252);
  }
  
  .right-main-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .right-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
  }
  .skill-progress {
    color: red;
  }
  @media screen and (max-width: 673px) {
    .main-content {
      display: grid;
      min-height: 1000px;
      width: 90%;
      margin: 20px auto;
      grid-template-columns: repeat(1, 1fr);
    }
  }